
.badges {
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom:2rem;
    margin-top:-1rem;
  }
  
  .badge {
    font-size: small;
    padding: 0.5rem;
    margin: 0 0.5rem;
    background-color: #487bb9;
    color: white;
    border:1px solid black;
    box-shadow: 2px 2px 2px #bbb;
  }