<p class="codepen" data-theme-id="light" data-height="300" data-pen-title="local vars" data-preview="true" data-default-tab="js,result" data-slug-hash="{{include.slug}}" data-user="rkaufman13" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
  <span>See the Pen <a href="https://codepen.io/rkaufman13/pen/{{include.slug}}">
  {{include.title}}</a> by Rachel Kaufman (<a href="https://codepen.io/rkaufman13">@rkaufman13</a>)
  on <a href="https://codepen.io">CodePen</a>.</span>
</p>
<p style="margin-bottom:1rem">&nbsp;</p>