---
layout: default
---

{%include all-projects-css.html%}

<!-- {% for project in site.projects %}
{% for category in project.categories %}
  {% capture my_categories %}
    {% if my_categories %}
      {{ my_categories | join: "," }},{{ category }}
    {% else %}
       {{ category }}
    {% endif %}
  {% endcapture %}
{% endfor %}

{% endfor %}

{% assign my_categories = my_categories | split: "," | uniq %}

{% for cat in my_categories %}
<a href="{{cat}}">
  {{cat}}</a> | 
{% endfor %} -->

<div class="project-parent">
  
  {% assign items = site.projects | sort: 'date' %}

  {% for project in items reversed  %}
{% capture
  project_lang %}{{ project.lang | default: site_lang }}{% endcapture %} {% capture
  lang %}{% if project_lang != site_lang %}{{ project_lang }}{% endif %}{% endcapture
  %}
  <div class="project">
    <header class="project-header">
      <h3 class="project-title">
        {% if project.external-url %}
        <a class="project-link" href="{{ project.external-url }}"
          >{{ project.title | escape }}</a
        >
        {% else %}
        <a class="project-link" href="{{ project.url | relative_url }}"
          >{{ project.title | escape }}</a
        >
        {% endif %}
      </h3>
    </header>
    <div class="project-content">
   
      {% if project.external-url %}
      <a class="project-link" href="{{ project.external-url }}"
        ><img src="/assets/{{ project.hero }}" class="project-hero"
      /></a>
      {% else %}
      <a class="project-link" href="{{ project.url | relative_url }}"
        ><img src="/assets/{{ project.hero }}" class="project-hero"
      /></a>
      {% endif %}
    </div>
  </div>
     
  {% endfor %} 
</div>
