---
layout: default
---

{%include all-projects-css.html%}

<div class="project-parent">
  {% assign sorted_pages = site.pages | sort:"date" | reverse %} {% for page in
  sorted_pages %} {% if page.categories !="projects"%} {%else%} {% capture
  page_lang %}{{ page.lang | default: site_lang }}{% endcapture %} {% capture
  lang %}{% if page_lang != site_lang %}{{ page_lang }}{% endif %}{% endcapture
  %}

  <div class="project">
    <header class="project-header">
      <h3 class="project-title">
        {% if page.external-url %}
        <a class="page-link" href="{{ page.external-url }}"
          >{{ page.title | escape }}</a
        >
        {% else %}
        <a class="page-link" href="{{ page.url | relative_url }}"
          >{{ page.title | escape }}</a
        >
        {% endif %}
      </h3>
    </header>
    <div class="project-content">
      {% if page.external-url %}
      <a class="page-link" href="{{ page.external-url }}"
        ><img src="/assets/{{ page.hero }}" class="project-hero"
      /></a>
      {% else %}
      <a class="page-link" href="{{ page.url | relative_url }}"
        ><img src="/assets/{{ page.hero }}" class="project-hero"
      /></a>
      {% endif %}
    </div>
  </div>
  {%endif%} {% endfor %}
</div>
