---
layout: default
---

<h1>Speaking Appearances</h1>

<p>I love presenting at conferences on Javascript, unit testing, soft skills for devs, and more. Feel free to <a href="{% link about.md %}">reach out</a> if you are interested in my talks.</p>

{% assign current_date = 'now' | date: '%s' %}
{% assign all_appearances = site.data.speaking_appearances | sort:'event_date' %}
<h2>Upcoming</h2>

{% for row in all_appearances %}
{% assign date_to_check = row.event_date | date: '%s' %}
{% if date_to_check > current_date %}
<p> {{row.event_date | date: '%B %d, %Y'}}: 
{%if row.link%}
<a href="{{row.link}}">
  {%endif%}
    {{row.talk}} - 
{%if row.link%}
</a>  
{%endif%}

{{row.venue}}
  
</p>
{%endif%}
{% endfor %}

<h2>Past</h2>
{% assign past_appearances = site.data.speaking_appearances | sort:'event_date' | reverse %}
{% for row in past_appearances %}
{% assign date_to_check = row.event_date | date: '%s' %}
{% if date_to_check <= current_date %}
<p> {{row.event_date | date: '%B %d, %Y'}}: 
{%if row.link%}
<a href="{{row.link}}">
  {%endif%}
    {{row.talk}}
{%if row.link%}
</a>  
{%endif%}

 - {{row.venue}}
  
{% if row.donut %}
(<a href="{{site.baseurl |relative_url}}{% link assets/donuts/{{row.donut}}%}">donut</a>)
{%endif%}
</p>
{%endif%}

{% endfor %}

<hr>
<p>Why donuts? <a href="https://larahogan.me/donuts/">Lara Hogan</a> eats a donut after a milestone, and I decided I wanted to, too. I didn't start tracking them until mid-2026, so many of these previous appearances are "missing" donuts, but I assure you, many donuts have been eaten and will continue to be eaten.</p>