---
layout: default
---



<div class="home">

  I'm a full-stack web developer, and this is my blog. Please <a href="https://www.linkedin.com/in/rachelkaufman13/">connect with me on LinkedIn</a> or <a href="https://github.com/rkaufman13">visit my Github</a> for more!

  {% capture site_lang %}{{ site.lang | default: "en" }}{% endcapture %}

  <hr/>
  <h2>Projects</h2>
  <div class="project-list">
    {% assign items = site.projects | sort: 'date' | reverse %}
    {% for project in items limit:3 %}
  
    <div class="project">
      <header class="project-header">
        <h3 class="project-title">
          {% if project.external-url %}
            <a class="page-link" href="{{ project.external-url }}">{{ project.title | escape }}</a>
          {% else %}
            <a class="page-link" href="{{ project.url | relative_url }}">{{ project.title | escape }}</a>
          {% endif %}
        </h3>
      </header>
      <div class="project-content">
        {% if project.external-url %}
        <a class="page-link" href="{{ project.external-url }}">
         {% else %}
        <a class="page-link" href="{{ project.url | relative_url }}">
         {% endif %}
      <img src="../assets/{{ project.hero }}" class="project-hero"></a>
      </div>
    </div>
   
  {% endfor %}
  

</div>
<div style="text-align: right;font-size: large;"><a href="all-projects/">> > >All projects</a></div>



  <ul class="post-list">
    {% for post in paginator.posts %}
      {% capture post_lang %}{{ post.lang | default: site_lang }}{% endcapture %}
      {% capture lang %}{% if post_lang != site_lang %}{{ post_lang }}{% endif %}{% endcapture %}

      <li{% if lang != empty %} lang="{{ lang }}"{% endif %}>
        <header class="post-header">
          <h1 class="post-title">
            {% if post.external-url %}
              <a class="post-link" href="{{ post.external-url }}">{{ post.title | escape }} &rarr;</a>
            {% else %}
              <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            {% endif %}
          </h1>

          <p class="post-meta">
            {% include date.html date=post.date lang=lang %}
            {% if post.categories != empty or post.tags != empty %}
              {% include category_links.html categories=post.categories tags=post.tags %}
            {% endif %}
            {% if post.external-url %}
              • <a href="{{ post.url | relative_url }}">Permalink</a>
            {% endif %}
          </p>
        </header>

        <div class="post-content">
          {{ post.excerpt }}
        </div>
        {% if post.content contains site.excerpt_separator %}
          <p class="post-continue">
            <a href="{{ post.url | relative_url }}">{% include i18n.html lang=lang value="morelink" default="Read on" %} &rarr;</a>
          </p>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

  <div style="text-align: right;font-size: large;"><a href="/archives/">> > >Blog archive</a></div>


</div>
